url.rest.transaccion=http://192.168.90.103/service/transaccion/transaccion.php
url.azure.keyvault=https://proyecto-m045akv.vault.azure.net/
qad.service.endpoint=http://qad-pilo.bredenmaster.com:8080/qxipilo/services/QdocWebService
qad.service.action=POST
qad.service.to=SALESFORCE
qad.service.address=qxipilo
qad.service.qualifier=QAD
qad.service.context.name=version
qad.service.context.value=eB2_2
qad.service.contextV2.value=eB2_1
qad.service.context1.value=eB2_1
qad.service.context2.name=domain
qad.service.context2.value=BREDEN
springdoc.packages-to-scan=com.breden.springboot.controller
springdoc.swagger-ui.path=/bmsf-documentation
springdoc.api-docs.path=/openapi.json
springdoc.swagger-ui.tryItOutEnabled=true
springdoc.swagger-ui.filter=true
breden.openapi.local-url=http://localhost:8080
breden.openapi.dev-url=https://apim-breden-master-ci.azure-api.net/bmsalesforce
breden.openapi.prod-url=https://apim-breden-master.azure-api.net/bmsalesforce